body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #f5f1e6;
}

.container {
  max-width: 900px;
  display: block;
  margin: 25px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background: #1f2a44;
}

p {
  line-height: 1.5;
  color: white;
  padding: 10px;
  font-size: 15px;
}

h1 {
  line-height: 1.5;
  margin: 0;
}

h2 {
  line-height: 1.5;
  font-weight: 900;
}

img {
  height: 180px;
  width: 100px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  display: inline-block;
  margin-right: 10px;
}

hr {
  margin: 0 150px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 16px 24px;
  color: #fff;
  background-color: #1a64d6;
  border: 1px solid #1a64d6;
  border-radius: 30px;
  line-height: 22px;
  font-size: 16px;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
