body {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #f5f1e6;
}

.container {
  max-width: 750px;
  display: block;
  margin: 25px auto;
  padding: 25px;
  border: 1px solid black;
  border-radius: 10px;
  background: #1f2a44;
  box-shadow: rgba(37, 39, 89, 0.04) 0px 80px 80px 0;
}

.books-container {
  margin: 20px auto;
}

p {
  line-height: 2;
  color: #f6f2e8;
  padding: 10px;
  font-size: 15px;
}

h1 {
  line-height: 1.5;
  margin: 0;
  color: #c9a24d;
}

h2 {
  line-height: 1.5;
  font-weight: 900;
  padding: 15px;
  color: #c9a24d;
}

img {
  height: 170px;
  width: 100px;
}

ul {
  list-style: none;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

li {
  display: inline-block;
  margin-right: 10px;
}

hr {
  margin: 0 150px;
}

button {
  display: block;
  margin: 50px auto;
  padding: 20px 24px;
  background-color: #f5f1e6;
  border: 1px solid #f5f1e6;
  border-radius: 30px;
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  transition: all 200ms ease;
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #1f2a44;
  border: 1px solid black;
  color: white;
}

button:hover a {
  background-color: #1f2a44;
  color: white;
}

button a {
  text-decoration: none;
  color: #333333;
}
